*#
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
*~
.*.swo
.*.swp
.DS_Store
.HTF/
.cabal-sandbox/
.depend
.ghc.environment.*
.ghcid*
.hpc
.hsenv
.stack-work/
TAGS
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
cbits/.depend
cbits/dlx_queens
cbits/dxz_queens
dist
dist-newstyle
dist-doctest
docs
ghcid.txt
old
tags
wiki
wip
